{% extends "base.html" %}

{% block content %}
<h1 class="title">
	<a href="/meeting">Meeting Information</a>
</h1>
<h1 class="title">
	Procedures
</h1>
<ul>
	<li><a href="procedures/TRUSTEE-Position_Vacancy_Checklist.docx">Position Vacancy Checklist</a></li>
</ul>
<h1 class="title">
	Pollard Statistics
</h1>
<ul>
	<li><a href="renewals.txt">Renewals</a></li>
	<li>Childrens Room
		<ul>
			<li><a href="childrens/202109.docx">2021-09</a></li>
		</ul>
	</li>
</ul>
<h1 class="title">
	MVLC Statistics
</h1>
<ul>
	<li><a href="Network_Wide_Monthly_Statistics_FY2015-FY2022.xlsx">Network Wide Monthly Statistics</a></li>
	<li><a href="FY22-Overdrive-Statistics.xlsx">Overdrive Statistics</a></li>
</ul>
{% endblock content %}
